@use '../../styles/mixins.scss' as *;

.radio {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  padding: 8px;
  background-color: $light;
  border-radius: 10px;
  justify-content: space-between;
}
.radio-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
}
