@use '../../styles/mixins.scss' as *;

.error__image {
  @include container;
  max-height: 60vh;
}

.error__header {
}

.error__return-btn {
  @include basic-btn;
  width: 250px;
  font-size: 20px;
}
