@use '../../../styles/mixins.scss' as *;

.cat-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: $medium;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  width: 300px;
  height: fit-content;

  & p {
    color: $light;
  }

  & h2 {
    align-self: center;
  }
  & img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    max-width: 300px;
    border-radius: 10px;
  }

  &:hover {
    transform: scale(1.05);

    & button {
      @include basic-btn();

      &:hover {
        background-color: $dark;
        color: $light;
      }
    }
  }
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  background-color: $darkest;
  color: $light;
  border: 2px solid $light;
  border-radius: 5px;
  flex-wrap: nowrap;

  & p {
    white-space: nowrap;

    overflow: hidden;
  }
}
