@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin basic-btn {
  @include center();
  background-color: $call;
  border: 4px solid $darkest;
  border-radius: 15px;
  cursor: pointer;
  padding: 10px;

  &:hover {
    background-color: $light;
  }

  font-weight: 600;

}

$dark: #3D5A80;
$medium: #98C1D9;
$light: #E0FBFC;
$call: #EE6C4D;
$darkest: #293241;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

li {
  list-style: none;
}

.container {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
  height: 100%;
}

html,
body,
#root {
  @include center();
  flex-direction: column;
  width: 100%;
  height: 100%;
}